.vertical_menu a, .vertical_menu label {
  display: block;
  padding: .85rem;
  color: #fff;
  background-color: #151515;
  box-shadow: inset 0 -1px #1d1d1d;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.vertical_menu a:focus, .vertical_menu a:hover, .vertical_menu label:focus, .vertical_menu label:hover {
  color: rgba(255, 255, 255, 0.5);
  background: #030303;
}

.vertical_menu ul{
  width:200px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
  font: inherit;
  vertical-align: baseline
}

.vertical_menu a { text-decoration: none; }

